{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <script src="https://kit.fontawesome.com/7515bfdbf7.js" crossorigin="anonymous"></script>

    <title>BLACK FORT</title>
    <style>
        body {
            font-family:'Times New Roman', Georgia, serif;
            }

        h1, h2,h3,h4,h5,h6{
                 font-family: 'Playfair Display';
                 letter-spacing: 5px;
                 }


    </style>
</head>

<body>
<div class="w3-top">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
<!--        <a class="navbar-brand" href="#home"></a>-->
        <a href="#home" class="w3-bar-item w3-button"><img src="{%static 'images/bf.png' %}"  style="width:65px;"> </a>
        <a href="#about" class="w3-bar-item w3-button">About</a>
        <a href="#menu" class="w3-bar-item w3-button">Signature Dishes</a>
        <a href="#booking" class="w3-bar-item w3-button">Booking</a>



        <div class="w3-right w3-hide-small">
            {% if request.user.is_authenticated %}
            <a href="{% url 'food' %}" class="w3-bar-item w3-button">Menu</a>
            <a href="{% url 'contact' %}" class="w3-bar-item w3-button">Contact</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout</a>

            <br>
            <marquee><p><i class="fa-solid fa-user"></i>{{request.user}} </p></marquee>
            {% else %}
<!--            <a href="{% url 'register' %}" class="w3-bar-item w3-button">SignUp</a>-->
            <a href="{% url 'login' %}" class="w3-bar-item w3-button">SignIn</a>

            {% endif %}

        </div>
    </div>
</div>

<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    <img class="w3-image" src="{% static 'images/burger.png' %}" alt="BLACK FORT CAFE AND GRILL RESTO" width="1600"
         height="800">
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
        <h1 class="w3-xxlarge">BLACK FORT</h1>
    </div>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/6422708c31ebfa0fe7f50b72/1gsj8f9gc';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img src="{% static 'images/image1.jpeg' %}" class="w3-round w3-image w3-opacity-min" alt="Table Setting"
                 width="600" height="750">
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 class="w3-center">About Black Fort Resto</h1><br>
            <h5 class="w3-center">Tradition since 1889</h5>
            <p class="w3-large">The Black Fort was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet,
                consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.We only use <span class="w3-tag w3-light-grey">seasonal</span> ingredients.</p>
            <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
                temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <hr>
</div>

<!-- Menu Section -->
<div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center"> Our Signature Dishes</h1><br>
        <h4>Bread Basket</h4>
        <p class="w3-text-grey">Assortment of fresh baked fruit breads and muffins 5.50</p><br>

        <h4>Honey Almond Granola with Fruits</h4>
        <p class="w3-text-grey">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00</p><br>

        <h4>Belgian Waffle</h4>
        <p class="w3-text-grey">Vanilla flavored batter with malted flour 7.50</p><br>

        <h4>Scrambled eggs</h4>
        <p class="w3-text-grey">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50</p><br>

        <h4>Blueberry Pancakes</h4>
        <p class="w3-text-grey">With syrup, butter and lots of berries 8.50</p>
    </div>

    <div class="w3-col l6 w3-padding-large">
        <img src="{% static 'images/img1.jpeg' %}" class="w3-round w3-image w3-opacity-min" alt="Signature Dishes"
             style="width:100%">
    </div>
</div>

<hr>

<!-- Contact Section -->
<div class="w3-container w3-padding-64" id="booking">
    <h1>For Dinning Booking</h1><br>
    <h3>Contact</h3>
    <p>We offer Dinning Booking service. We understand your needs and we will serve the food to satisfy the biggerst
        criteria of them all, both look and taste. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>Black Fort Cafe And Grill Resto, 42nd Living St, 43043 Thiruvalla, PA</b>
    </p>
    <p>You can also contact us by phone 00553123-2323 or email blackfort@resto.com, or you can send us a message
        here:</p>
    <form action="/" target="_blank">
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People"></p>
        <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
                  value="2023-27-11:45am"></p>
        <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required
                  name="Message"></p>
        <p><a class="w3-button w3-light-grey w3-section" href="{% url 'home' %}"> SEND MESSAGE</a></p>
    </form>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
    <center><h3>Connect With Us</h3></center>
    <center><table>
                 <tr>
                     <td>Email</td>
                     <td>blackfort@resto.com</td>
                 </tr>
                 <tr>
                     <td>Phone</td>
                     <td>+91 00553123-2323</td>
                 </tr>
                 <tr>
                     <td>Address</td>
                     <td>Black Fort Cafe And Grill Resto,<br> 42nd Living St,<br> 43043 Thiruvalla</td>
                 </tr>
             </table></center>
    <hr>
    <h3>Social Media links</h3>

    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    <hr>
    <p>Copy Right @2023 <a href="{% url 'home' %}" title="W3.CSS" target="_blank" class="w3-hover-text-green">Black Fort Resto</a></p>
       <a class="ml-3" href="{% url 'dashboard' %}" >Restaurant Login</a>




</footer>

</body>

</html>